[submodule "foundry"]
	path = gitmodules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "silo-foundry-utils"]
	path = gitmodules/silo-foundry-utils
	url = https://github.com/silo-finance/silo-foundry-utils
[submodule "gitmodules/openzeppelin-contracts"]
	path = gitmodules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.0
[submodule "gitmodules/openzeppelin-contracts-upgradeable"]
	path = gitmodules/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = v4.9.0
[submodule "gitmodules/uniswap/v2-core"]
	path = gitmodules/uniswap/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "gitmodules/uniswap/v2-periphery"]
	path = gitmodules/uniswap/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "gitmodules/uniswap/v3-periphery"]
	path = gitmodules/uniswap/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = v1.3.0
[submodule "gitmodules/openzeppelin-contracts-upgradeable@v3.4.2"]
	path = gitmodules/openzeppelin-contracts-upgradeable@v3.4.2
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = v3.4.2
[submodule "gitmodules/uniswap/v3-core"]
	path = gitmodules/uniswap/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = v1.0.0
