[submodule "foundry"]
	path = gitmodules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "silo-foundry-utils"]
	path = gitmodules/silo-foundry-utils
	url = https://github.com/silo-finance/silo-foundry-utils
[submodule "gitmodules/openzeppelin-contracts"]
	path = gitmodules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.0
